body{
    background-color: black;
}

#container{
    display:flex;
}
#sect-avant-midi{
    background-image: url("./Assets/beforenoon.jpg");
    width: 50vw;
    height: 100vh;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}

#sect-apres-midi{
    background-image: url("./Assets/afternoon.jpg");
    width: 50vw;
    height: 100vh;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}

#sect-clock{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -500px;
    margin-left: -500px;
    z-index: 2;
}

#sect-hour{
    position: absolute;
    background-color: beige;
    left: 50%;
    top: 0%;
    height: 200px;
    width: 500px;
    margin-top: 50px;
    margin-left: -250px;
    z-index: 2;
}
#sect-ticker{
    position: absolute;
    background-color: beige;
    left: 50%;
    bottom:0%;
    height: 200px;
    width: 500px;
    margin-bottom: 50px;
    margin-left: -250px;
    z-index: 2;
}